.answer {
	box-sizing: border-box;
	position: relative;
	z-index: 1;
	max-width: 100%;
	text-align: right;
}

.answer__list {
	display: flex;
	justify-content: flex-end;
}

.answer__item {
	font-size: calc(1vw + 2rem);
	border-radius: 0.5rem;
	background: $darkBg;
	width: 6.6rem;
	height: 7rem;
	position: relative;
}

.answer__item:not(:last-child) {
	margin: 0 1rem 0 0;
}

.answer__content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: $light;
	text-transform: uppercase;
}

.answer__input {
	background: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 0.2rem solid $darkBg;
	font-size: 3.6rem;
	padding: 1rem;
	font-family: $defaultFonts;
	width: 10rem;
	margin: 0 0 2rem;
	text-align: center;

	&:focus {
		outline: none;
	}
}
