.missed-letters__header  {
	font-size: 1.6rem;
	color: $darkBg;
	text-transform: uppercase;
	margin: 0 0 1.5rem 0;
}

.missed-letters__content {
	font-size: 4.1rem;
	color: $accent;
	text-transform: uppercase;
}
