.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: transparentize($mainBg, 0.26);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 9;
}

.overlay__heading {
	font-size: 4.1rem;
	color: $light;
	margin: 0 0 2.5rem;
}
